.headerTitle{
    color: "#FFFFFF" ;
    font-size: "22px" ;
    /* font-weight: 500; */
    font-family: 'Inter', sans-serif;
}
.headerTitle:hover{
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    font-family: 'Inter', sans-serif;
}