.container{
    display: flex;
}

@media (min-width: 320px) and (max-width: 480px) {
    .container{
      flex-direction: column-reverse;
    }
    .petContainer{
      padding-top: 40px !important;
      color: #FFFFFF;
      padding-left: 0px !important;
      padding-right: 0px !important;
      font-family: 'Inter', sans-serif;
    }
    .img{
      width: 300px;
      height: 200px;
    }
    .timeContainer{
      display: flex;
      flex-direction: column;
      width: 295px !important;
      height: 750px !important;
      background-color: #1E1E1E ;
      border-radius: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: 'Inter', sans-serif;
    }
    .cont1{
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 30px;
    }
  .cont2{
      flex-direction: column;
      padding-top: 30px;
      padding-bottom: 30px;
  }
  .cont3{
      flex-direction: column;
      padding-top: 30px;
      padding-bottom: 30px;
  }
  }

.calenderContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 50px;
    font-family: 'Inter', sans-serif;
}

.timeContainer{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 400px;
    background-color: #1E1E1E ;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

.cont1{
    flex: 0.2;
    display: flex;
    color: #FFFFFF;
    gap:50px;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.cont2{
    flex: 0.5;
    display: flex;
    color: #FFFFFF;
    gap:30px;
    align-items: center;
    border-top: dotted;
    border-bottom: dotted;
    font-family: 'Inter', sans-serif;
}
.cont3{
    flex: 0.2;
    display: flex;
    color: #FFFFFF;
    gap:50px;
    align-items: center;
}

.btnCont{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: 'Inter', sans-serif;
}

.slotBtn{
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    border-radius: 30px;
    border-color: #F0D318;
    background-color: #1E1E1E;
    font-family: 'Inter', sans-serif;
}

.slotBtnActive{
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border-color: #F0D318;
    color: black;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.slotBtn:hover{
    color: black;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.backBtn{
    margin-top: 30px;
    color: #F0D318;
    font-family: 'Inter', sans-serif;
}

.backBtn:hover{
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Inter', sans-serif;
}

.petContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 120px;
    color: #FFFFFF;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Inter', sans-serif;
}